<!-- Describe task in general -->

<p>
    给出三个整数，判断哪个最大。  
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}max_among-three.png" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>输入</strong>三个整数 <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>输出：</strong>整数 <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>


<p>
    <strong>示例</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>如何使用：</strong>
    <i>此函数可用于需要从多个选项中选择最高值的各种算法和计算中。</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>前提条件</strong>
    <ul>
    <li>-<i><sup>109</sup>&lt;= a、b、c &lt;=<sup>109</sup></i>。</li>
    </ul>
</p>
