<!-- Describe task in general -->

<p>
    Étant donné trois nombres entiers, déterminez lequel est le plus grand.  
</p>

<!-- <p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p> -->

<!-- Explain input and output values -->
<p>
   <strong>Données:</strong> Trois entiers <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Sortie:</strong> Entier <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>


<p>
    <strong>Exemples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>Comment elle est utilisée:</strong>
    <i>cette fonction peut être utilisée dans divers algorithmes et calculs où la valeur la plus élevée parmi plusieurs options doit être sélectionnée.</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Condition préalable:</strong>
    <ul>
    <li>-<i><sup>109</sup> &lt;= a, b, c &lt;=<sup>109</sup></i>.</li>
    </ul>
</p>
